.App {
  display: flex;
  background-color: #f7f7fc;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 95%;
  height: 95%;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wordBox {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 30px;
}
